<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <permission
        android:name="com.vayunmathur.calendar.permissions.ACCESS_CALENDAR"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.General">
        <activity
            android:configChanges="mcc|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:name="MainActivity"
            android:exported="true"
            android:theme="@style/Theme.General">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <data android:mimeType="vnd.android.cursor.dir/event" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="time/epoch" />
                <data android:host="com.android.calendar" />
                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </activity>
        <!-- Glance widget receiver -->
        <receiver
            android:name=".glance.CalendarGlanceWidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_glance_widget_info" />
        </receiver>
        <activity
            android:name=".ui.ImportActivity"
            android:exported="true"
            android:theme="@style/Theme.General"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="text/calendar" />
                <data android:mimeType="application/calendar" />
                <data android:mimeType="text/x-vcalendar" />
                <data android:mimeType="application/x-icalendar" />
                <data android:mimeType="text/x-icalendar" />
                <data android:mimeType="text/icalendar" />
                <data android:mimeType="application/ics" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.ics" />
                <data android:pathPattern=".*\\.ical" />
                <data android:pathPattern=".*\\.ifb" />
                <data android:pathPattern=".*\\..*\\.ics" />
                <data android:pathPattern=".*\\..*\\.ical" />
                <data android:pathPattern=".*\\..*\\.ifb" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intents.GetIntent"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:permission="com.vayunmathur.calendar.permissions.ACCESS_CALENDAR">
        </activity>

        <activity
            android:name=".intents.InsertIntent"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:permission="com.vayunmathur.calendar.permissions.ACCESS_CALENDAR">
        </activity>
    </application>

</manifest>