name: Generate Multi-Module APKs (Fully Secret)

env:
  modules: "calendar contacts"
  # Name for the temporary file created from the secret
  ks_filename: release_keystore.jks

  ks_store_pass: ${{ secrets.KS_STORE_PASS }}
  ks_alias: ${{ secrets.KS_ALIAS }}
  ks_alias_pass: ${{ secrets.KS_ALIAS_PASS }}

on:
  push:
    branches:
      - 'release/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      # DECODE KEYSTORE FROM SECRET
      - name: Decode Keystore
        id: decode_keystore
        run: |
          echo "${{ secrets.KEYSTORE_FILE }}" | base64 --decode > ${{ env.ks_filename }}

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Build and Rename APKs
        run: |
          mkdir -p distribution_apks
          for module in ${{ env.modules }}; do
            echo "Processing module: $module"
          
            # Build AAB
            ./gradlew :$module:bundleRelease
          
            # Use Bundletool to generate and sign the Universal APK
            java -jar ".github/lib/bundletool.jar" build-apks \
              --bundle=$module/build/outputs/bundle/release/$module-release.aab \
              --output=$module/build/outputs/bundle/release/$module.apks \
              --mode=universal \
              --ks="${{ env.ks_filename }}" \
              --ks-pass=pass:${{ env.ks_store_pass }} \
              --ks-key-alias=${{ env.ks_alias }} \
              --key-pass=pass:${{ env.ks_alias_pass }}
          
            # Extract and Rename to module_name-release.apk
            unzip -p $module/build/outputs/bundle/release/$module.apks universal.apk > distribution_apks/$module-release.apk
          done

      - name: Upload Renamed APKs
        uses: actions/upload-artifact@v4
        with:
          name: Signed-Module-APKs
          path: distribution_apks/